node_modules/
.expo/
dist/
npm-debug.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
web-build/
.env
server/node_modules/
server/expo-recall-56743-firebase-adminsdk-zc45j-f84ee77898

# macOS
.DS_Store

